<section class='title-container'>
  <h1 class='title-text'>Instances Edit Page</h1>
</section>
<%= simple_form_for :instance, url: instance_path(@instance), method: 'PATCH', class: 'taxomap-form' do |i| %>
  <div class="form__label-row">
    <div class="col">
      <%= i.label :concept_type, class: 'form__label' %>
    </div>
    <div class="col">
      <%= i.collection_select :concept_type, Concept.all, :uuid, :title, { include_blank: true, selected: @instance.concept_type&.uuid}, disabled: true,  class: 'form__select'  %>
    </div>
  </div>
  <% @instance.concept_type&.properties&.each do |prop| %>
    <%= simple_fields_for :values do |v| %>
      <div class="form__label-row">
        <div class="col">
          <%= v.label prop.title, class: 'form__label' %>
        </div>
        <div class="col">
          <%= v.input_field prop.uuid, placeholder: 'Enter Data Here', class: 'form__text-field' %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="form__label-row">
    <div class="col">
    </div>
    <div class="col">
      <%= i.submit 'Edit Instance', class: 'primary-button' %>
    </div>
  </div>
<% end %>

