<div class="topbar">
  <div class='logobox'>
    <a href="/dashboard" class="logobox__logo">
      <div class='logobox__logo-text'>Taxomap</div>
      <div class='logobox__logo-mark'></div>
    </a>
  </div>
  <div class='breadcrumbs-container', id='breadcrumbs-container'> 
    <%# <%= image_tag "home--bg-blue.svg", height:'15px', class:'breadcrumbs-container__icon' %1> %>
    <span class="breadcrumbs-container__text">
      <%# <%= breadcrumbs separator: " &rsaquo;" %1> %> 
    </span>
  </div>
  <div class='avatar-container', id='avatar-container'>
    <%# <%= link_to(destroy_user_session_path, method: :delete) do %1> %>
      <%# <span class="lnr lnr-exit avatar-container__logout-icon"></span> %>
    <%# <% end %1> %>
    <span class='avatar-container__icon'>
      <span class='avatar-container__initial'>
        <%# <%= current_user&.full_name&.split&.dig(0)&.first&.upcase %1> %>
      </span>
    </span>
    <span class='avatar-container__email'>
      <%# <%= current_user&.email&.downcase %1> %>
    </span>
  </div>
</div>

