<section class='title-container'>
  <h1>Concepts Edit Page</h1>
</section>
<%= simple_form_for :concept, url: concept_path(@concept), method: 'PATCH', class: 'taxomap-form' do |f| %>
  <div class="form__label-row">
    <div class="col">
      <%= f.label :title, class: 'form__label' %>
    </div>
    <div class="col">
      <%= f.input_field :title, placeholder: @concept.title, class: 'form__text-field' %>
    </div>
  </div>
  <div class="form__label-row">
    <div class="col">
      <%= f.label :properties, class: 'form__label' %>
    </div>
    <div class="col">
      <%= f.collection_check_boxes :properties, Property.all, :uuid, :title do |b| %>
        <div class="row">
          <div class="col">
            <%= b.check_box %>
            <%= b.label(class: 'form__checkbox-label') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form__label-row">
    <div class="col">
      <%= f.label :concepts, class: 'form__label' %>
    </div>
    <div class="col">
      <%= f.collection_check_boxes :concepts, Concept.all, :uuid, :title do |b| %>
        <div class="row">
          <div class="col">
            <%= b.check_box %>
            <%= b.label(class: 'form__checkbox-label') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form__label-row">
    <div class="col">
      <%= f.label :parent, class: 'form__label' %>
    </div>
    <div class="col">
      <%= f.collection_select :parent, Concept.all, :uuid, :title, { :include_blank => true, selected: @concept&.parent&.uuid},  class: 'form__select'  %>
    </div>
  </div>
  <div class="form__label-row">
    <div class="col">
    </div>
    <div class="col">
      <%= f.submit 'Update Concept', class: 'primary-button' %>
    </div>
  </div>
<% end %>
